dash==2.18.2
dash-bootstrap-components==1.7.1
dash-core-components==2.0.0
dash-html-components==2.0.0
ezc3d==1.5.18
h5py=3.13.0
ipywidgets=8.1.5
mydcc==0.1.22
numpy==2.2.2
pandas==2.2.3
plotly==5.24.1
scikit-learn==1.6.1
scipy==1.15.1
torch==2.5.1
